body {
  background-color: #462255;
}

h1 {
  color: #f3f3f3;
  margin: 3rem 1rem;
}

.option-container {
  display: flex;
  background: #f3d9b1;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 4rem;
  width: 20rem;
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
}

.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #f3d9b1;
  transform: scale(1.02);
  
}

.option-prefix {
  padding: 1rem;
  color: #313b72;
}

.option-body {
  padding: 1rem;
  width: 100%;
  color: #313b72;
  font-size: 1.5rem;
}

.correct {
  background: linear-gradient(32deg, #a8c256 0%, #a8c256 100%);
}

.incorrect {
  background: linear-gradient(32deg, #c33149 0%, #c33149 100%);
}

/* Progress bar */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  color: #f3f3f3;
  margin-top: 3rem;
  font-size: 2rem;
  margin-left: 1.5rem;
}

#progressBar {
  border: 0.2rem solid #f3d9b1;
  border-radius: 50px;
  height: 1rem;
  width: 20rem;
  overflow: hidden;
  margin-left: 1.5rem;
}

#progressBarFull {
  height: 100%;
  background: #f3d9b1;
}


@media (min-width: 768px) {
  .container {
    width: 960px;
    margin-top: 180px;
  }

  h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
  }
  
  #progressBar {
    border: 0.6rem;
    border-radius: 30px;
    height: 1.5rem;
    width: 35rem;
    margin-left: 4rem;
  }

  .hud-prefix {
    margin-left: 4rem;
  }
}

@media (min-width: 991.98px) {
  .container {
    margin-left: 5rem;

  }
  .option-container {
    font-size: 2rem;
    height: 6.5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 3px;
  }
  .option-prefix {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #313b72;
  text-align: center;
}
  h1 {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
    margin-right: 8rem;
  }
  .hud-prefix {
    margin-top: 6rem;
    font-size: 2rem;
    margin-left: 8rem;
  }
  #progressBar {
    border: 0.6rem solid #f3d9b1;
    border-radius: 30px;
    height: 1.5rem;
    width: 35rem;
    overflow: hidden;
    margin-left: 8rem;
  }
}
@media (min-width: 1199.98px) {
  .container {
    margin-top: 2rem;
    margin-bottom: 0;
    margin-left: 25rem;
  }
  .option-container {
    font-size: 3rem;
    height: 7.5rem;
    margin-bottom: 2.5rem;
    padding-top: 1.8rem;
    border-radius: 6px;
  }

  .option-prefix {
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #313b72;
  text-align: center;
}

  h1 {
    font-size: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
  }
  .hud-prefix {
    margin-top: 3rem;
    font-size: 3rem;
    margin-left: 12rem;
  }
  #progressBar {
    border: 0.8rem solid #f3d9b1;
    border-radius: 50px;
    height: 3rem;
    width: 50rem;
    overflow: hidden;
    margin-left: 12rem;
  }
}